@import 'src/assets/styles/config'


.sidebar
  display: flex
  flex-direction: column



.pages
  display: flex
  flex-direction: column

.links
  list-style-type: none
  padding-bottom: 12px

.links a
  font-size: 16px
  align-items: center
  padding: 4px 12px
  &:hover
    background-color: #E7EBF1
    border-radius: 24px
    align-items: center
  &:active
    background-color: #E7EBF1
    border-radius: 24px
    align-items: center
  &:focus
    background-color: #E7EBF1
    border-radius: 24px


//.links a
//  font-size: 16px
//  line-height: 125%
//  padding: 4px 12px
//  color: #20293A
//  margin: 12px 0
//  &:hover
//    background-color: #E7EBF1
//    border-radius: 100px







.linksItem
  margin: 0
  font-size: 16px
  display: flex
  text-decoration: none
  color: black

.linksItemActive
  padding: 4px 7px
  margin: 0
  text-decoration: none
  color: black
  background-color: #E7EBF1
  border-radius: 100px


.profileInfo
  font-size: 16px
  display: flex
  flex-direction: column
  padding-left: 40px
  height: 100%
  margin-top: 500px


.name
  padding-top: 8px
  margin: 0

.profilePic
  width: 40px
  height: 40px


.studInfo
  font-size: 10px
  padding: 0


.logOutBtn
  text-decoration: none
  border: none
  background: none
  width: 30px

.name,
.logOutBtn,
.studNum
  color: #4C9BE3



