

.footer
  display: flex
  flex-direction: row
  position: relative
  width: 100%


.innerCont
  display: flex
  flex-direction: row
  border-top: 1px solid #D5DCE4

.infoBlock
  display: flex
  flex-direction: column

.infoTitle
  padding: 0 0 4px 0
  margin: 0
  font-size: 12px
  color: #8EA1AD



.infoNum
  font-size: 24px
  color: #20293A
  text-decoration: none
  padding-bottom: 4px

.infoMail
  font-size: 16px
  color: #4C9BE3
  text-decoration: none

